1.project_zero/src/main/mule/1.project_zero.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="cfe02d95-e0bb-40a8-941d-60b306db671b" doc:description="Http config for Listener" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="1.project_zeroFlow" doc:id="889e0f91-4cea-434a-9cc0-b1f71b8990fe" >
		<http:listener doc:id="8e1d846c-a75b-4652-a51f-9877b8aaa405" doc:name="Listener1" config-ref="HTTP_Listener_config" path="/project-zero" allowedMethods="GET">
			<http:response >
				<http:body ><![CDATA[#["Hello World"]]]></http:body>
			</http:response>
		</http:listener>
	</flow>
</mule>
